body{
    background-color:rgb(248, 250, 250);
    margin: 0;
    font-family: 'ubuntu',sans-serif;
    padding: 20px 40px;
    font-size: 16px;
    
}
h1{
    margin-top: 20px;
    margin-bottom: -15px;
    color: rgba(20, 49, 65, 0.973);
}
h2{
    color: rgb(27, 63, 83);
}
.languagespart{
    color: rgb(38, 101, 126);
    font-style: italic;
    margin-top: -10px;
}
.lightcolored{
    color: rgb(131, 133, 132);
    font-style: italic;
}
#intro {
    max-width: 400px;
    line-height: 1.5;
    margin-top: -10px;
}
.fa-solid {
   

}
.border-box{   
  border: 1.5px solid black;   
  margin-top: -10px;
  padding: 5px 15px;       
  border-radius: 6px;        
  background-color: transparent; 
  display: inline-block; 
  margin-bottom: 10px;
}
.highlight {
  background-color: #a4b1c0;   
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 12px;
}
.right{
  text-align:left;
  display:flex;
  align-items:center;
  gap: 20px;
  margin-top: 50px;
}
.profile {
    width: 100%;             
    max-width: 115px;      
    height: auto;          
    border-radius: 50%;  
    object-fit: cover;
    border: 1.5px solid black;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
.divider {
  width: 2px;
  height: 30px;
  background-color: rgb(207, 204, 204);
}

.header{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;   
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  gap: 40px;
}
.twocolumns {
    display: flex;
    gap: 40px;         
    margin-top: 20px;
    flex-wrap: nowrap;   
}
.leftcol,
.rightcol {
    flex: 1;              
    min-width: 0;        
}
@media (max-width: 400px) {
    .left-column, .right-column {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .profile {
        width: 20%;         
        max-width: 80px;    
    }
}
@media (max-width: 600px) {
  body {
    padding: 15px;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .right {
    margin-top: 15px;
  }
  .profile {
    width: 60px;
    height: 60px;
  }
  #intro {
    max-width: 100%;
  }
}